$borders: (
  "frame": 2px solid #ababab,
);

html, body {
  margin: 0;
  padding: 0;
}

#root {
  background-color: #333;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  color: #ababab;
}

.toggle {
  flex: 0 0 15em;
  border-right: map-get($borders, "frame");
  padding: 1em;

  label[for="switch"] {
    position: relative;
    display: flex;
    align-items: center;

    &::after, &::before {
      content: '';
      border-radius: 1em;
      display: block;
    }

    &::before {
      width: 2em;
      height: .9em;
      margin-right: .5em;
      border: .1em solid #ababab;
    }

    &::after {
      position: absolute;
      background-color: #ababab;
      width: .7em;
      height: .7em;
      left: .2em;
      transition: transform 500ms cubic-bezier(.3,.93,.91,.26);
    }
  }

  #switch {
    visibility: hidden;
    position: absolute;

    &::before {
      content: '';
      background-color: red;
    }

    &:checked + label[for="switch"]::after {
      transform: translateX(1em);
    }
  }
}

.frame {
  position: relative;
  min-width: 768px;
  min-height: 652px;
  border: map-get($borders, "frame");
  resize: both;
  overflow: auto;

  &::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    border-top: 30px solid transparent;
    border-left: 30px solid transparent;
    border-right: 30px solid #ababab;
  }
}

.block {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  filter: brightness(60%);
}

.frame-cover {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 36pt;

  &::after {
    border-bottom: map-get($borders, "frame");
    border-left: map-get($borders, "frame");
    border-right: map-get($borders, "frame");
    box-sizing: inherit;
  }
}

.text-block {
  width: 100%;
  display: flex;

  .text {
    margin: 0;
  }

  &.top-text {
    .text {
      margin-top: -10px;
      margin-right: 0.5em;
      margin-bottom: 0.5em;
      height: 1em;
      width: 8em;
      flex-shrink: 0;
    }

    span { text-transform: uppercase; }

    &::after {
      border-right: map-get($borders, "frame");
      border-top: map-get($borders, "frame");
    }
  }

  &.bottom-text {
    text-align: right;
    min-height: calc(100% - 2.585em);

    .text {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    span { margin: 0.5em 0; }

    &::before {
      width: auto;
      border-left: map-get($borders, "frame");
    }

    &::after {
      display: none;
    }

    .text::before, .text::after {
      border-right: map-get($borders, "frame");
    }
  }
}

.bottom-text::before,
.bottom-text::after,
.bottom-text .text::before,
.bottom-text .text::after,
.top-text::after,
.frame-cover::after,
{
  content: '';
  height: 100%;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
}

.left-side-content {
  .bottom-text {
    text-align: left;

    &::before { display: none; }

    &::after {
      display: inline-block;
      width: auto;
      border-right: map-get($borders, "frame");
    }

    .text::before, .text::after { border-right: none; }

    .text::after { border-left: map-get($borders, "frame"); }
  }
}
